<!DOCTYPE html>
<html>
<head>
	<title>De Maas vervuiling waardes</title>
</head>
<style>
	html, body {
		margin: 0;
		padding: 0;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 1.4;
		color: #333;
		background-color: #fff;
	}
	table {
	
	}
	tr:nth-child(even) {background-color: #f2f2f2}
</style>
<body>
	<table>
		<thead>
			<tr>
				<th>LOCATIE_CODE</th>
				<th>PARAMETER_OMSCHRIJVING</th>
				<th>CAS_NR</th>
				<th>EENHEID_CODE</th>
				<th>WAARDEBEPALINGSMETHODE_OMSCHRIJVING</th>
        		<th>WAARNEMINGDATUM</th>
        		<th>NUMERIEKEWAARDE</th>
       			<th>KWALITEITSOORDEEL_CODE</th>
        
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			<tr>
				<td>{{ row['LOCATIE_CODE'] }}</td>
				<td>{{ row['PARAMETER_OMSCHRIJVING'] }}</td>
				<td>{{ row['CAS_NR'] }}</td>
				<td>{{ row['EENHEID_CODE'] }}</td>
				<td>{{ row['WAARDEBEPALINGSMETHODE_OMSCHRIJVING'] }}</td>
				<td>{{ row['WAARNEMINGDATUM'] }}</td>
				<td>{{ row['NUMERIEKEWAARDE'] }}</td>
				<td>{{ row['KWALITEITSOORDEEL_CODE'] }}</td>
				
	
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
